!font
URxvt.font:     xft:bitstream vera sans mono:size=12:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=12:antialias=true

! clear scroll-back by pressing Ctrl-L
URxvt.keysym.Control-l: command:\033c

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false

URxvt.perl-ext-common: resize-font, clipboard

!clipboard bindings
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v perl:clipboard:paste_escaped

! special
*.foreground:   #9f91e4
*.background:   #1e2c43
*.cursorColor:  #9f91e4

! black
*.color0:       #4668a8
*.color8:       #3b95c4

! red
*.color1:       #764141
*.color9:       #bc5757

! green
*.color2:       #acbb1e
*.color10:      #c9d085

! yellow
*.color3:       #d58d5c
*.color11:      #d7b168

! blue
*.color4:       #507fa7
*.color12:      #4796d9

! magenta
*.color5:       #a855c4
*.color13:      #674970

! cyan
*.color6:       #359285
*.color14:      #d5fff9

! white
*.color7:       #2791fc
*.color15:      #33b05d

URxvt.transparent: true
URxvt.shading:20

! Included this so you know how to make your foreground not match the color of your background
URxvt.foreground: #eeeeee
